body {
    position: absolute;
    width: 791px;
    height: 828px;
    background: rgb(245, 245, 245);
}

.grparrent {
    position: relative;
    width: 430px;
    height: 300px;
    background: rgb(189, 184, 184);
}

.parrent {
    font-family: sans-serif;
    position: relative;
    width: 400px;
    height: 265px;
    top: 1em;
    left: 1em;
    border-radius: 8px;
    border: 2px solid black;
    background: rgb(243, 20, 20);
}

.main {
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 0.37cm;
    font-family: sans-serif;
    width: 65%;
    height: 150px;
    top: 4em;
    background: rgb(165, 4, 4);
}

.botmdscp {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 4px;
    font-family: sans-serif;
    position: absolute;
    width: 396px;
    height: 50px;
    top: 13em;
    background: rgb(243, 20, 20);
}

.picture {
    position: absolute;
    background-image: url(pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: 150px;
    top: 56px;
    right: 0px;
}